In [ ]:
import pandas as pd

def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    return pd.DataFrame(student_data, columns  = ["student_id","age"])

In [ ]:
import pandas as pd

def getDataframeSize(players: pd.DataFrame) -> List[int]:
    return [players.shape[0], players.shape[1]]

In [ ]:
import pandas as pd

def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    return employees.head(3)

In [ ]:
import pandas as pd

def selectData(students: pd.DataFrame) -> pd.DataFrame:
    return students.loc[students['student_id']==101,['name','age']]

In [2]:
import pandas as pd

def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = employees['salary']*2
    return employees

In [ ]:
import pandas as pd

def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    customers.drop_duplicates(subset=['email'])
    return customers

In [3]:
import pandas as pd

def dropMissingData(students: pd.DataFrame) -> pd.DataFrame:
    return students.dropna(subset=['name'])

In [ ]:
import pandas as pd

def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['salary']== employees['salary']*2

Write a solution to rename the columns as follows:

    id to student_id
    first to first_name
    last to last_name
    age to age_in_years

In [5]:
import pandas as pd

def renameColumns(students: pd.DataFrame) -> pd.DataFrame:
    
    students.rename(columns={'id':'student_id,"first":"first_name", "last":"last_name","age":"age_in_years" },inplace=True)

SyntaxError: unterminated string literal (detected at line 4) (2448626858.py, line 4)